#footer{
     background: $white;
    width: 73%;
    margin: 40px auto 80px auto;

    form{
        display: grid;
        grid-template-rows: 100px 100px 300px 50px;
        margin-top: 80px;
        gap: 23px;
        label{
            margin-left: 70px;
            font-size: 0.9rem;
            font-family: Inter;
            color: $grey;
            text-transform: uppercase;
        }
        input{
            height: 54px;
            width: 80%;
            margin: 20px auto;
            
         }
         button{
            margin-left: 70px;
            margin-bottom: 80px;
            color: $grey;
            border-color: $grey;
         }
    #msg{
        height: 245px;
        width: 80%;
        margin: 20px auto;
    }
}


.box-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .contact{
        display: grid;
        grid-template-rows: auto;
        display: block;

        .adress{
            display: flex;
            justify-content: start;
            border-left: solid $grey2 1px;
            border-bottom: solid $grey2 1px;
            height: 200px;
            h1{
                margin: 90px 0 auto 50px;
                font-size: 0.9rem;
                font-family: Inter;
               

            }
            p{
                text-align: start;
                font-family: merriweather;
               margin: auto 95px;
               line-height: 30px;   
            }
        }
        .PHONE{
            display: flex;
            justify-content: start;
            border-left: solid $grey2 1px;
            border-bottom: solid $grey2 1px;
            height: 200px;
            h1{
                margin: 90px 0 auto 50px;
                font-size: 0.9rem;
                font-family: Inter;
            }
            p{
                text-align: start;
                font-family: merriweather;
               margin: auto 95px;
               line-height: 30px;   
            }
        }
        .EMAIL{
            display: flex;
            justify-content: start;
            border-left: solid $grey2 1px;
            height: 200px;
            h1{
                margin: 90px 0 auto 50px;
                font-size: 0.9rem;
                font-family: Inter;
               

            }
            p{
                text-align: start;
                font-family: merriweather;
               margin: auto 95px;
               line-height: 30px;   
            }
        }
        .SOCIAL{
            display: flex;
            justify-content: start;
            border: solid $grey2 1px;
            height: 200px;
            h1{
                margin: 90px 0 auto 50px;
                font-size: 0.9rem;
                font-family: Inter;
               

            }
            p{
                text-align: start;
                font-family: merriweather;
               margin: auto 95px;
               line-height: 30px;   
               font-size: 1.1rem;
               i{
                margin-left: 40px;
                padding: 15px;
                border: solid $grey 1px;
                border-radius: 50px;
               }
            }
        }
        
    }

}
}
