.box-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;

    form {
        display: grid;
        grid-template-rows: auto;

        label#namel {
            font-family: Inter;
            text-transform: uppercase;
            margin-top: 80px;
            margin-left: 70px;
            font-size: 0.9rem;
            text-align: start;
            color: $grey;
        }
        label#maill {
            font-family: Inter;
            text-transform: uppercase;
            margin-top: 10px;
            margin-left: 70px;
            font-size: 0.9rem;
            text-align: start;
            color: $grey;
        }
        label#msgl {
            font-family: Inter;
            text-transform: uppercase;
            margin-top: 10px;
            margin-left: 70px;
            font-size: 0.9rem;
            text-align: start;
            color: $grey;
        }

        input#namet {
            border: solid $grey 1px;
            border-radius: 5px;
            height: 54px;
            width: 80%;
            margin: 5px auto 0;
            font-size: 2rem;
            

        }
        input#mail {
            border: solid $grey 1px;
            border-radius: 5px;
            height: 54px;
            width: 80%;
            margin: 4px auto 0;
            font-size: 2rem;
        }
        input#msg{
            border: solid $grey 1px;
            border-radius: 5px;
            height: 250px;
            width: 80%;
            margin: 5px auto 0;
            font-size: 2rem;
        }
    }
}