$black: rgb(15, 15, 15);
$white:rgb(250, 248, 248);
$white1:rgb(235, 231, 231);
$grey: rgb(112, 111, 111);
$grey2:rgb(202, 202, 202);

@font-face {
    font-family: merriweather;
    src: url(../fonts/Merriweather/Merriweather-Light.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background: url(..//img/bg.jpg) fixed center/cover;
    
    &::before{
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: $black;
        animation: animBefor 1.5s ease forwards;
        animation-delay: 0.15s;

        @keyframes animBefor {
            to {
                opacity:0;
            }
        }
    }
}
nav a{
    text-decoration: none;
    color: white;
}

input{
    display: block;
}

img{
    width: 50%;
}
