$black: rgb(15, 15, 15);
$white:rgb(250, 248, 248);
$grey: rgb(126, 121, 121);

@font-face {
    font-family: merriweather;
    src: url(../fonts/Merriweather/Merriweather-Light.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background: url(/Assets/img/bg.jpg) fixed center/cover;
}

img{
    width: 50%;
}