@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");
@font-face {
  font-family: merriweather;
  src: url(../fonts/Merriweather/Merriweather-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  background: url(/Assets/img/bg.jpg) fixed center/cover;
}

input {
  display: block;
}

img {
  width: 50%;
}

header {
  width: 100%;
}
header h1 {
  font-family: Inter;
  text-transform: uppercase;
  font-size: 5rem;
  color: rgb(250, 248, 248);
  text-align: center;
  padding-top: 270px;
}
@media screen and (max-width: 500px) {
  header h1 {
    font-size: 2rem;
  }
}
header p {
  margin-top: 30px;
  font-family: merriweather;
  text-align: center;
  color: rgb(250, 248, 248);
  font-style: italic;
  font-size: 1.2rem;
}
header p i {
  margin-top: 100px;
  font-size: 1.5rem;
  border: solid rgb(250, 248, 248) 2px;
  border-radius: 100px;
  padding: 17px 20px;
}

nav {
  width: 73%;
  margin: 170px auto 0;
}
nav ul {
  display: grid;
  grid-template-columns: 18% 18% 18% 46%;
  background: rgba(255, 255, 255, 0.493);
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media screen and (max-width: 650px) {
  nav ul {
    grid-template-columns: 33% 33% 33%;
  }
}
nav ul li {
  font-family: Inter;
  color: rgb(250, 248, 248);
  list-style: none;
  font-size: 0.9rem;
}
@media screen and (max-width: 650px) {
  nav ul li {
    font-size: 0.7rem;
    text-align: center;
  }
  nav ul p {
    display: none;
  }
}
nav ul p {
  margin: 0;
  color: rgb(250, 248, 248);
  text-align: end;
}
nav ul p i {
  margin: 0;
  border: none;
}

#box, #main {
  background: rgb(250, 248, 248);
  width: 73%;
  margin: auto auto;
  text-align: center;
}
#box .main-chapter h2, #main .main-chapter h2 {
  padding: 80px 20px 100px;
  color: rgb(15, 15, 15);
  font-family: merriweather;
  font-weight: 200;
  font-size: 1.3rem;
  width: 100%;
}
@media screen and (max-width: 650px) {
  #box .main-chapter h2, #main .main-chapter h2 {
    font-size: 1rem;
    width: 100%;
    padding: 80px 0 80px;
  }
}
#box .main-chapter h2:before, #main .main-chapter h2:before {
  display: inline-block;
  content: "";
  border: solid rgba(146, 144, 144, 0.301) 1px;
  width: 33%;
  margin: 5px auto;
}
@media screen and (max-width: 650px) {
  #box .main-chapter h2:before, #main .main-chapter h2:before {
    width: 15%;
    margin: 5px 10px;
  }
}
#box .main-chapter h2:after, #main .main-chapter h2:after {
  display: inline-block;
  content: "";
  border: solid rgba(146, 144, 144, 0.301) 1px;
  width: 33%;
  margin: 5px auto;
}
@media screen and (max-width: 650px) {
  #box .main-chapter h2:after, #main .main-chapter h2:after {
    width: 15%;
    margin: 5px 10px;
  }
}
#box .main-chapter h3, #main .main-chapter h3 {
  font-family: Inter;
  text-transform: uppercase;
  font-size: 3.5rem;
  margin: 0 auto;
  width: 40%;
  color: rgb(15, 15, 15);
}
@media screen and (max-width: 650px) {
  #box .main-chapter h3, #main .main-chapter h3 {
    font-size: 1.5rem;
    width: 40%;
  }
}
#box .main-chapter p, #main .main-chapter p {
  width: 50%;
  margin: 50px auto 0;
  font-size: 1rem;
  line-height: 50px;
  font-style: italic;
  font-family: merriweather;
}
#box .main-chapter img, #main .main-chapter img {
  width: 80%;
  margin: 40px auto 25px;
}
#box .second-chapter, #main .second-chapter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 650px) {
  #box .second-chapter, #main .second-chapter {
    display: block;
  }
}
#box .second-chapter .first-travel, #main .second-chapter .first-travel {
  border: solid rgba(136, 134, 134, 0.61) 1px;
  border-left: none;
  padding: 80px 0;
  width: 100%;
}
@media screen and (max-width: 650px) {
  #box .second-chapter .first-travel, #main .second-chapter .first-travel {
    border-bottom: none;
  }
}
#box .second-chapter .first-travel h1, #main .second-chapter .first-travel h1 {
  font-family: merriweather;
  font-size: 1rem;
  font-weight: 100;
}
#box .second-chapter .first-travel h3, #main .second-chapter .first-travel h3 {
  font-family: Inter;
  text-transform: uppercase;
  font-size: 1.4rem;
  width: 35%;
  margin: 25px auto;
  padding-bottom: 20px;
  letter-spacing: 2px;
  line-height: 35px;
}
#box .second-chapter .first-travel img, #main .second-chapter .first-travel img {
  width: 78%;
}
#box .second-chapter .first-travel p, #main .second-chapter .first-travel p {
  width: 78%;
  margin: 30px auto;
  font-family: merriweather;
  text-align: start;
  line-height: 37px;
  font-size: 1rem;
}
#box .second-chapter .second-travel, #main .second-chapter .second-travel {
  border: solid rgba(136, 134, 134, 0.61) 1px;
  border-left: none;
  padding: 80px 0;
  width: 100%;
}
@media screen and (max-width: 650px) {
  #box .second-chapter .second-travel, #main .second-chapter .second-travel {
    border-top: none;
  }
}
#box .second-chapter .second-travel h1, #main .second-chapter .second-travel h1 {
  font-family: merriweather;
  font-size: 1rem;
  font-weight: 100;
}
#box .second-chapter .second-travel h3, #main .second-chapter .second-travel h3 {
  font-family: Inter;
  text-transform: uppercase;
  font-size: 1.4rem;
  width: 35%;
  margin: 25px auto;
  padding-bottom: 20px;
  letter-spacing: 2px;
  line-height: 35px;
}
@media screen and (max-width: 650px) {
  #box .second-chapter .second-travel h3, #main .second-chapter .second-travel h3 {
    font-size: 1.4rem;
    width: 60%;
  }
}
#box .second-chapter .second-travel img, #main .second-chapter .second-travel img {
  width: 78%;
}
#box .second-chapter .second-travel p, #main .second-chapter .second-travel p {
  width: 78%;
  margin: 30px auto;
  font-family: merriweather;
  text-align: start;
  line-height: 37px;
  font-size: 1rem;
}

button {
  border: solid black 2px;
  font-family: Inter;
  text-transform: uppercase;
  padding: 17px 48px 16px 48px;
  font-size: 0.95rem;
  letter-spacing: 2px;
  margin-top: 40px;
}

#main button {
  margin-bottom: 110px;
}

#footer {
  background: rgb(250, 248, 248);
  width: 73%;
  margin: 40px auto;
}
#footer form {
  display: grid;
  grid-template-rows: 100px 100px 300px 50px;
  margin-top: 80px;
  gap: 23px;
}
#footer form label {
  margin-left: 70px;
  font-size: 0.9rem;
  font-family: Inter;
  color: rgb(112, 111, 111);
  text-transform: uppercase;
}
#footer form input {
  height: 54px;
  width: 80%;
  margin: 20px auto;
}
#footer form button {
  margin-left: 70px;
  margin-bottom: 80px;
  color: rgb(112, 111, 111);
  border-color: rgb(112, 111, 111);
}
#footer form #msg {
  height: 245px;
  width: 80%;
  margin: 20px auto;
}
#footer .box-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#footer .box-grid .contact {
  display: grid;
  grid-template-rows: auto;
  display: block;
}
#footer .box-grid .contact .adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  border-left: solid rgb(202, 202, 202) 1px;
  border-bottom: solid rgb(202, 202, 202) 1px;
  height: 200px;
}
#footer .box-grid .contact .adress h1 {
  margin: 90px 0 auto 50px;
  font-size: 0.9rem;
  font-family: Inter;
}
#footer .box-grid .contact .adress p {
  text-align: start;
  font-family: merriweather;
  margin: auto 95px;
  line-height: 30px;
}
#footer .box-grid .contact .PHONE {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  border-left: solid rgb(202, 202, 202) 1px;
  border-bottom: solid rgb(202, 202, 202) 1px;
  height: 200px;
}
#footer .box-grid .contact .PHONE h1 {
  margin: 90px 0 auto 50px;
  font-size: 0.9rem;
  font-family: Inter;
}
#footer .box-grid .contact .PHONE p {
  text-align: start;
  font-family: merriweather;
  margin: auto 95px;
  line-height: 30px;
}
#footer .box-grid .contact .EMAIL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  border-left: solid rgb(202, 202, 202) 1px;
  height: 200px;
}
#footer .box-grid .contact .EMAIL h1 {
  margin: 90px 0 auto 50px;
  font-size: 0.9rem;
  font-family: Inter;
}
#footer .box-grid .contact .EMAIL p {
  text-align: start;
  font-family: merriweather;
  margin: auto 95px;
  line-height: 30px;
}
#footer .box-grid .contact .SOCIAL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  border: solid rgb(202, 202, 202) 1px;
  height: 200px;
}
#footer .box-grid .contact .SOCIAL h1 {
  margin: 90px 0 auto 50px;
  font-size: 0.9rem;
  font-family: Inter;
}
#footer .box-grid .contact .SOCIAL p {
  text-align: start;
  font-family: merriweather;
  margin: auto 95px;
  line-height: 30px;
  font-size: 1.1rem;
}
#footer .box-grid .contact .SOCIAL p i {
  margin-left: 40px;
  padding: 15px;
  border: solid rgb(112, 111, 111) 1px;
  border-radius: 50px;
}/*# sourceMappingURL=index.css.map */